<form action= <%= @cat.persisted? ? cat_url : cats_url %> method="POST">
  <% if @cat.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <p>
    <label for="name_input"> Name: </label>
    <input type="text" name="cat[name]" id="name_input" value=<%=@cat.name%> >
    <label for= "age_input"> Age: </label>
    <input type="text" name="cat[age]" id="age_input" value=<%=@cat.age%>>
    <br>
  </p>
  <p>
    <label> Choose Sex: </label>
    <label for= "gender_male"> M </label>
    <input id="gender_male" name="cat[sex]" type="radio" value="M"
    <%='checked' if @cat.sex == 'M'%>/>
    <label for= "gender_female"> F </label>
    <input id="gender_female" name="cat[sex]" type="radio" value="F"
     <%='checked' if @cat.sex == 'F'%> />
    <br>
  </p>
  <p>
    <label for="cat_color">Eye Color: </label>
    <select name="cat[color]" id="cat_color">
      <!-- `Nothing.`, if selected, is the value that will be submitted to
        the server; user is displayed "Nothing." as the choice -->
        <option selected = <%='selected' if @cat.color.nil? %></option> >Please Choose...
        <option value="brown"  selected = <%='selected' if @cat.color == 'brown' %> >Brown
         </option>
        <option value="black" selected = <%='selected' if @cat.color == 'black' %> >Black
         </option>
        <option value="blue" selected = <%='selected' if @cat.color == 'blue'%>
          >Blue </option>

      </select>
    </p>
    <p>
      <label for="cat_birth_date">Birth date:</label>
      <!-- click on the date will launch a date picker -->
      <input name="cat[birth_date]" id="cat_birth_date" type="date" value=<%=@cat.birth_date%>></input>


    </p>
    <p>
      <input type="submit" value="Create cat">

    </p>
  </form>