<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body>

  <% unless flash[:errors].nil? %>
    <% flash[:errors].each do |e| %>

    <FONT COLOR="red"><%=  e %></FONT><br><br>

    <% end %>
  <% end %>

  <% unless flash[:notice].nil? %>

    <FONT COLOR="red"><%=  flash[:notice] %></FONT><br><br>

  <% end %>


  <% if logged_in?  %>
    Welcome <%= current_user.user_name %>
    <%= button_to 'logout', session_url, :method => :delete%>
  <% else %>
    Welcome, potential cat renter!
    <%= button_to 'login', new_session_url, :method => :get%>
  <% end %>



  <%= yield %>

</body>
</html>
